.App {
  max-width: 800px;
  margin: 60px auto;
  border: 1px solid #fff;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);

  color: #878787;
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
  padding: 40px;
}
.App footer {
  display: block;
  text-align: center;
  font-size: 12px;
}
